<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 只有接口声明：namespace值必须和接口名相同 -->
<mapper namespace="xinsheng.register.RegisterMapper">
	<!-- public int setUser(registerEntity user); -->
	<insert id="setUser" parameterType="cn.entity.User" 
		useGeneratedKeys="true" keyProperty="userId">
		insert into 
			user 
		values(
			null,
			#{nickName},
			#{phone},
			#{password},
			#{portrait},
			#{sex},
			#{email},
			#{qq},
			#{weixin},
			#{xlvb},
			#{status},
			#{creator},
			#{createDate},
			#{mender},
			#{updateDate});
	</insert>
	
	
</mapper>
	
	
	
	
	
	
	
	
	