/* navigation */
.personalLeftNav{
	position:fixed;
	height: 100%;
	/* 内容自适应 可滑动 */
    /* overflow: auto; */
    border-style:solid;
    position: fixed;
    padding-top:15px;
	background-color: #f1f1f1;
	left:0px;
	top:0px;
	width: 202px;
}
.personalLeftNav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.personalLeftNav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	margin: 1px;
}

.personalLeftNav li{
	text-align:center;
}

/* 鼠标移动到选项上修改背景颜色 */
.personalLeftNav li a:hover {
	background-color: #555;
	color: white;
}
/* navigation */

.personalLeftNav p {
	text-align:center;
	color:red;
}