<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>error</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
</head>
<style>
h1 {
	text-align:center;
	color:blue;
}
/* navigation */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	/* background-color: #f1f1f1; */
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	border-style:solid;
	margin: 1px;
}

/* 鼠标移动到选项上修改背景颜色 */
.navigationDiv li a:hover {
	background-color: #555;
	color: white;
}
/* navigation */
/* 用户下拉 */
.t3{
	position:relative;
	left:10px;
	width: 180px;
}
.t1{
	display:none;
}
.t2{
}
/* 用户下拉 */
</style>
<body>
	<h1>我们可能遇到了一个错误!!!</h1>
</body>
<script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
	
</script>
</html>