<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>HelloJinx</title>
<style type="text/css">
.liP{
	margin-bottom:5px;
}
</style>
</head>
<body>
	<div class="personalLeftNav" th:fragment="navigation">
		<ul>
			<li><p class="liP" id="message">今天真是个好天气!!!</p></li>
			<li>
				<img id="indexImg" class="indexImg" alt="主页" th:src="@{/image/indexImg.jpg}"/>
			</li>
			<li class="userLi">
				<a th:href="@{showPersonal}" 
					th:text="${session.user.userName}"
					th:if="${not #lists.isEmpty(session.user)}">用户名</a>
			</li>
			<li><a th:href="@{updatePersonalFace}">修改头像</a></li>
			<li><a th:href="@{updatePersonal}">修改资料</a></li>
			<li><a th:href="@{updatePersonalPassword}">修改密码</a></li>
		</ul>
	</div>
</body>
<script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
	$("#indexImg").click(function(){
		location=[[@{/}]];
	});
</script>
</html>