<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>updatePersonalPassword</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/personalLeftNav.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/personal.css}" />
<style type="text/css">
.personalFormDiv{
	margin-left:30px;
}
.formInput{
	left:54px;
	margin-bottom:10px;
	height:30px;
	width:200px;
}
.formText{
	left:135px;
}

.formBut{
	margin-top:43px;
	width:80px;
	height:30px;
	margin-left:128px;
}
</style>
</head>
<body>
	<div class="bodys">
		<!-- 引入左侧导航栏 -->
		<div th:replace="personalLeftNav :: html"></div>
		<!-- 引入个人资料侧边栏 -->
		<div class="navigationDiv" th:replace="personal :: personalNavigation"></div>
		<div class="personalMessage">
			<div class="personalFormDiv">
				<form action="#" id="updateForm" th:object="${session.user}">
					<input type="hidden" name="id" th:value="*{id}"/><br/>
					<span class="formText">原密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<input type="text" id="oldPassword" name="oldPassword" class="formInput"/><br/>
					<span class="formText">新密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<input type="text" id="newPassword" name="newPassword" class="formInput"/><br/>
					<span class="formText">重复新密码</span>
					<input type="text" id="againNew" class="formInput"/><br/>
					<input type="button" id="upPersonalBut" class="formBut" value="修改" />
				</form>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
	/* 提交前检测两次输入的新密码是否相同 */
	$("#upPersonalBut").click(function(){
		if($("#newPassword").val()==$("#againNew").val()){
			$.ajax({
				url:[[@{updatePersonalPassword}]],
				data:$("#updateForm").serialize(),
				type:"post",
				dataType:"json",
				success:function(obj){
					if(obj.state==0){
						location=[[@{showPersonal}]];
						}
					$("#message").html(obj.message);
				}
			});
		}else{
			$("#message").html("两次密码不一致");
		}
	});
	
</script>
</html>